<div class="col-md-3 col-md-offset-1">
    <div class="list-group">
        <a href="{{ url_for("user.user_info") }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'user.user_info' %}active{% endif %}">个人资料</a>
        <a href="{{ url_for("user.user_protrait_modify") }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'user.user_password_modify' %}active{% endif %}">修改头像</a>
        <a href="{{ url_for("user.user_info_modify") }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'user.user_info_modify' %}active{% endif %}">修改信息</a>
        <a href="{{ url_for("user.user_password_modify") }}"
           class="list-group-item list-group-item-action {% if request.endpoint == 'user.user_password_modify' %}active{% endif %}">修改密码</a>
    </div>
</div>