{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block body %}
    <div class="row">
        {% include "user/_user_menu.html" %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    修改密码
                </div>
                <div class="card-body">
                    <form action="" method="post" role="form">
                        {{ form.csrf_token }}
                        {{ form_field(form.old) }}
                        {{ form_field(form.new, annotation="<span class='badge badge-info'>8-16位 必须包含大小写字母/数字</span>") }}
                        {{ form_field(form.new_repeat) }}
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
