{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block css %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
    <style>
        #preview-box {
            display: block;
            position: absolute;
            max-width: 100% !important;
            top: -130px;
            padding: 5px;
            border: 1px rgba(0,0,0,.4) solid;
            background: white;
            border-radius: 4px;
        }
    </style>
{% endblock css %}
{% block body %}
    <div class="row">
        {% include "user/_user_menu.html" %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    修改头像
                </div>
                <div class="card-body">
                    <form action="{{ url_for(".user_avatar_upload") }}" method="post" role="form" enctype="multipart/form-data">
                        {{ avatar_form.csrf_token }}

                      <div class="form-group">
                          <h6 class="text-info">第 1 步: {{ avatar_form.image.label() }}</h6><br>
                          {{ avatar_form.image(class="form-control-file", id="img") }}
                      </div>


                        {{ avatar_form.submit(class="btn btn-outline-success") }}
                    </form>
                    <hr>
                    <h6 class="text-info" style="margin-bottom: 150px;">第 2 步: 头像裁剪</h6>
                    {{ avatars.crop_box("main.get_avatar", current_user.avatar_raw) }}
                    {{ avatars.preview_box("main.get_avatar", current_user.avatar_raw) }}
                    <br>
                    <form action="{{ url_for(".user_avatar_crop") }}" method="post" role="form" enctype="multipart/form-data">
                        {{ crop_form.csrf_token }}
                        {{ crop_form.x }}
                        {{ crop_form.y }}
                        {{ crop_form.w }}
                        {{ crop_form.h }}
                        {{ crop_form.submit(class="btn btn-success") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"></script>
    {{ avatars.init_jcrop() }}
{% endblock script %}