{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block body %}
    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='web_img/banner.jpg') }}" alt="">
        </div>
        <div class="col-md-5">
            <form action="" method="post" role="form">
                {{ form.csrf_token }}
                {{ form_field(form.user_name) }}
                {{ form_field(form.password) }}
                {{ check_field(form.remember) }}
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>

{% endblock body %}
