{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block body %}
    <div class="row">
        {% include "user/_user_menu.html" %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    基本信息
                </div>
                <div class="card-body">
                    <img src="{{ current_user.potrait_url }}" class="img-thumbnail w-50 mb-2" alt="">
                    <div class="row">
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">账户名</span>{{ current_user.user_name }}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">性别</span>{{ current_user.sex | sex_replace}}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">昵称</span>{{ current_user.nick_name }}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">真实姓名</span>{{ current_user.real_name | default("未填写", boolean=True) }}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">身份证</span>{{ current_user.id_number | default("未填写", boolean=True) }}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">邮箱</span>{{ current_user.email }}</p>
                        <p class="col-md-6"><span class="mr-2 badge badge-pill badge-primary">电话</span>{{ current_user.phone | default("未填写", boolean=True)}}</p>
                        <p class="col-md-12"><span class="mr-2 badge badge-pill badge-primary">个性签名</span>{{ current_user.manifesto | default("未填写", boolean=True)}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
