{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    新分享
                </div>
                <div class="card-body">
                    <form action="" method="post" role="form" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        {{ form_field(form.img, class="form-control-file") }}
                        {{ form_field(form.content, class="form-control", rows=15) }}
                        {{ form.submit(class="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
