{% extends "_base.html" %}
{% from "_macro.html" import post_comment, pager_full %}
{% block body %}
    <div class="row">
        <div class="col-md-12 share-data" data-id={{ share.id }}>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <span class="col-5">
                            <a href="{{ url_for("main.person", user_id=share.author_id) }}"
                               style="text-decoration: none">
                                <img src="{{ url_for("main.get_avatar", filename=share.author.avatar_s) }}"
                                     class="img-thumbnail" alt="" width="">
                                    <span class="align-middle text-dark"
                                          style="font-size:18px; margin-bottom:0">{{ share.author.nick_name }}</span>
                            </a>
                        </span>
                        <span class="text-right text-secondary  mt-2 col-7"
                              style="font-size: 14px;">{{ moment(share.publish_time).format("LLL") }}</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="share">{{ share.content | safe }}</p>

                    <p class="text-right">
                                    <span style="cursor: pointer;" class="like_icon">
                                    {% if current_user.is_authenticated %}
                                        {% if current_user in share.like_users %}
                                            <i class="bi bi-heart-fill praise-del" style="color:red"></i>
                                        {% else %}
                                            <i class="bi bi-heart-fill praise-add"></i>
                                        {% endif %}
                                    {% else %}
                                        <i class="bi bi-heart-fill" data-toggle="modal"
                                           data-target="#loginRequireModal"></i>
                                    {% endif %}
                                        <span class="praise-num">{{ share.like_users_count() }}</span>
                                    </span>

                        <span style="cursor: pointer;" class="detail_comment_icon ml-2">
                                        {% if current_user.is_authenticated %}
                                            <i class="bi bi-chat-right-dots-fill" id="box_comment"></i>
                                        {% else %}
                                            <i class="bi bi-chat-right-dots-fill" data-toggle="modal"
                                               data-target="#loginRequireModal"></i>
                                        {% endif %}
                            <span class="praise-num">{{ share.comments_count() }}</span>
                                    </span>


                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="comment"></div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color:#fff;">评论</div>
                <div class="card-body">
                    {% for comment in comments %}
                        <div class="one_comment" id={{ comment.id }} data-to_user_id={{ comment.user.id }} data-parent_id={{ comment.id }}
                             data-to_comment_user={{ comment.user.nick_name }}>
                            <div class="row" style="font-size: 16px; color: #ccc;">
                                <span class="col-6">
                                    <a href="{{ url_for("main.person", user_id=comment.user.id) }}"
                                       style="text-decoration: none">
                                        <img src="{{ url_for("main.get_avatar", filename=comment.user.avatar_s) }}"
                                             class=""
                                             alt=""
                                             width="30px">
                                        <span class="align-middle text-info">{{ comment.user.nick_name }}</span>
                                    </a>

                                </span>
                                <span class="align-middle text-right col-6">{{ moment(comment.time_stamp).fromNow(refresh=True) }}</span>
                            </div>
                            <div class="row">
                                <p class="col-12 card-text mt-2 mb-0" style="font-size: 16px;">
                                    {{ comment.content }}
                                </p>
                                <p class="col-12 text-right">
                                    {% if current_user.id == comment.to_user_id %}
                                    <span class="reply_comment" style="font-size:14px; cursor: pointer; color: #2c77ff;">回复</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="">
                                {% for sub_comment in comment.sub_comments | sort(attribute='time_stamp') %}
                                    <div class="one_sub_comment" id="{{ sub_comment.id }}" data-to_user_id={{ sub_comment.user.id }} data-parent_id={{ comment.id }}
                                         data-to_comment_user={{ sub_comment.user.nick_name }}>
                                        <div class="row" style="font-size: 16px; color: #ccc;">
                                            <span class="col-7 offset-1">
                                                <a href="{{ url_for("main.person", user_id=sub_comment.user.id) }}"
                                                   style="text-decoration: none">
                                                    <img src="{{ url_for("main.get_avatar", filename=sub_comment.user.avatar_s) }}"
                                                         class=""
                                                         alt=""
                                                         width="24px">
                                                    <span class="align-middle text-info">{{ sub_comment.user.nick_name }}</span>
                                                </a>

                                            </span>
                                            <span class="align-middle text-right col-4">{{ moment(sub_comment.time_stamp).fromNow(refresh=True) }}</span>
                                        </div>
                                        <div class="row">
                                            <p class="col-11 offset-1 card-text mt-2 mb-0" style="font-size: 16px;">
                                                回复 {{ sub_comment.to_user.nick_name }}: {{ sub_comment.content }}
                                            </p>
                                            <p class="col-12 text-right">
                                                {% if current_user.id == sub_comment.to_user_id %}
                                                <span class="reply_sub_comment" style="font-size:14px; cursor: pointer; color: #2c77ff;">回复</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>

                                    {% endfor %}
                            </div>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    {{ pager_full(pagination, fragment="#comment", share_id=share.id) }}
                </div>
            </div>
            </div>
        </div>


    <!-- 要求登录模态框 -->
    {% include "modal/login_require.html" %}
    <!-- 评论 Modal -->
    <div class="modal fade" id="BoxCommentModel" aria-labelledby="BoxCommentModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="BoxCommentModalLabel"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for("share.publish_comment") }}" method="post">
                    <div class="modal-body">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="user_id" value="">
                        <input type="hidden" name="to_user_id" value="">
                        <input type="hidden" name="to_share_id" value="">
                        <input type="hidden" name="parent_id" value="">
                        <textarea class="form-control" id="comment_text" rows="10" name="comment_text"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">发布评论</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
{% block script %}
    {{ super() }}
    <script>
        $("#box_comment").click(function () {
            var title = "回复给 {{ share.author.nick_name }}";
            $("input[name='user_id']").val({{ current_user.id }});
            $("input[name='to_user_id']").val({{ share.author_id }});
            $("input[name='to_share_id']").val({{ share.id }});
            $("input[name='parent_id']").val();

            $("#BoxCommentModalLabel").text(title);
            $("#BoxCommentModel").modal("show");
            $("#BoxCommentModel").on("shown.bs.modal", function (e) {
                $("#comment_text").focus();
            })
        })

        // 作者回复评论
        $(".reply_comment").click(function () {
                var to_user_id = $(this).parents(".one_comment").attr("data-to_user_id");
                var parent_id = $(this).parents(".one_comment").attr("data-parent_id");
                var to_comment_user = $(this).parents(".one_comment").attr("data-to_comment_user");
                var title = "回复给 " + to_comment_user;
                $("input[name='user_id']").val({{ current_user.id }});
                $("input[name='to_user_id']").val(to_user_id);
                $("input[name='to_share_id']").val({{ share.id }});
                $("input[name='parent_id']").val(parent_id);

                $("#BoxCommentModalLabel").text(title);
                $("#BoxCommentModel").modal("show");
                $("#BoxCommentModel").on("shown.bs.modal", function (e) {
                    $("#comment_text").focus();
                })
            }
        )

        // 评论作者回复作者的评论
        $(".reply_sub_comment").click(function () {
                var to_user_id = $(this).parents(".one_sub_comment").attr("data-to_user_id");
                var parent_id = $(this).parents(".one_comment").attr("data-parent_id");
                var to_comment_user = $(this).parents(".one_sub_comment").attr("data-to_comment_user");
                var title = "回复给 " + to_comment_user;
                $("input[name='user_id']").val({{ current_user.id }});
                $("input[name='to_user_id']").val(to_user_id);
                $("input[name='to_share_id']").val({{ share.id }});
                $("input[name='parent_id']").val(parent_id);

                $("#BoxCommentModalLabel").text(title);
                $("#BoxCommentModel").modal("show");
                $("#BoxCommentModel").on("shown.bs.modal", function (e) {
                    $("#comment_text").focus();
                })
            }
        )

        $(function () {
            if (window.location.hash.indexOf('#') >= 0) {
                $('html,body').animate({
                    scrollTop: ($(window.location.hash).offset().top - 90) + "px"
                },
                1000);
            }; //主要修复评论定位不准确BUG
        })



    </script>
{% endblock script %}

