{% extends "_base.html" %}
{% from "_macro.html" import form_field, check_field %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <a class="col-md-4">
                            <img src="{{ url_for("main.get_avatar", filename=current_user.avatar_s) }}" class="img-thumbnail" alt="" width="">
                        </a>
                        <span class="text-right text-secondary  mt-2 col-md-8">{{ moment(share.publish_time).format("LLL") }}</span>
                    </div>
                </div>
                <div class="card-body">
                    {{ share.content | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block script %}
    {{ super() }}
    {{ moment.include_moment(local_js=url_for("static", filename="js/moment-with-locales.js")) }}
    {{ moment.locale(auto_detect=True) }}
{% endblock script %}