<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    {% endblock css %}
</head>
<body>
<div>
    {% block head %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-4">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='web_img/web_icon.svg') }}" width="30" height="30"
                     class="d-inline-block align-top" alt="" loading="lazy"> 遇爱
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.index') }}">主页</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.explore') }}#explore">漂流瓶</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('share.concern_shares') }}">关心</a>
                    </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.about_site') }}">关于本站</a>
                    </li>
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownQ" role="button"#}
{#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                            Dropdown#}
{#                        </a>#}
{#                        <div class="dropdown-menu" aria-labelledby="navbarDropdownQ">#}
{#                            <a class="dropdown-item" href="#">Action</a>#}
{#                            <a class="dropdown-item" href="#">Another action</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item" href="#">Something else here</a>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
                {% if current_user.is_authenticated %}
                    <img src="{{ url_for("main.get_avatar", filename=current_user.avatar_s) }}" width="30" height="30"
                         class="d-inline-block align-top" alt="" loading="lazy">
                {% endif %}
                <ul class="navbar-nav mr-left">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.nick_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('share.new_share') }}">新分享</a>
                                <a class="dropdown-item" href="{{ url_for('share.shares', user_id=current_user.id) }}">我的分享</a>
                                <a class="dropdown-item" href="{{ url_for('user.user_following', follow_relation='following', user_id=current_user.id, page=1) }}">
                                    我的关注 <span class="badge badge-primary">{{ current_user.following.count() }}</span>
                                </a>
                                <a class="dropdown-item" href="{{ url_for('user.user_following', follow_relation='followers', user_id=current_user.id, page=1) }}">
                                    我的粉丝 <span class="badge badge-primary">{{ current_user.followers.count() }}</span>
                                </a>
                                <a class="dropdown-item" href="{{ url_for('user.user_info') }}">个人资料</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('user.logout') }}">退出登录</a>
                            </div>
                        </li>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('user.register') }}">注册</a>
                        <a class="nav-link" href="{{ url_for('user.login') }}">登录</a>
                    {% endif %}
                </ul>

                <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.search') }}">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="搜索用户名或昵称" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
    {% endblock head %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% block body %}
        {% endblock body %}

        {% if current_user.is_authenticated %}
            <div id="global-token" token={{ csrf_token() }}></div>
        {% else %}
            <div id="global-token" token=""></div>
        {% endif %}

        {% block script %}
            <script src="{{ url_for('static', filename='js/jquery.3.3.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
            {{ moment.include_moment(local_js=url_for("static", filename="js/moment-with-locales.js")) }}
            {{ moment.locale(auto_detect=True) }}
            <script src="{{ url_for('static', filename='js/init.js') }}"></script>
        {% endblock script %}
    </div>
    <footer>
        <hr>
        <div class="container">
            {% block foot %}<p class="text-center">遇爱工作室 版权所有</p>{% endblock foot %}
        </div>
    </footer>
</div>
</body>
</html>