{% macro form_field(field, annotation=None) %}
    <div class="form-group">
        {{ field.label(class="control-label") }}
        {% if annotation %}
            {{ annotation | safe }}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class='badge badge-danger'>{{ error }}</span>
            {% endfor %}
        {% endif %}
        <div class="">
            {{ field(class="form-control", **kwargs) }}
        </div>
    </div>
{% endmacro %}

{% macro check_field(field) %}
    <div class="form-group">
        <div class="form-check form-check-inline">
          {{ field(class="form-check-input") }}
          {{ field.label(class="form-check-label") }}
        </div>
    </div>
{% endmacro %}